<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>News</h1>
    <a href="/articles">View all articles</a>
  
  </body>
</html>
