<!DOCTYPE html>
<html>
  <head>
    <title>Kickball</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>Kickball</h1>
    <a href="/teams">View all teams</a>
    <a href="/positions">View all position</a>
  </body>
</html>
