<!DOCTYPE html>
<html>
  <head>
    <title>Kickball - <%= @team_name %></title>
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>
    <h1>
      The team is <%= @team_name %>
    </h1>

    <ul>
      <% @team_name_info.each do |position, name| %>
        <li><%= position %>: <%= name %></li>
      <% end %>
    </ul>

    <a href="/teams">All team names</a>
  </body>
</html>
